<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
  <link href="/css/default.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script defer src="//www.WebRTC-Experiment.com/RecordRTC.js"></script>
  <script defer src="/js/recorder.js" type="text/javascript"></script>
  <script defer src="/js/speech.js" type="text/javascript" ></script>
  <script defer src="/js/speechAnalysis.js" type="text/javascript" ></script>
  <script defer src="/js/searchImage.js" type="text/javascript" ></script>
  <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://use.fontawesome.com/09fb527af5.js"></script>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.core.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.reveal.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.keyboard.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.box.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.triggers.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.mediaQuery.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/plugins/foundation.util.motion.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script defer src="/js/index.js"></script>
  <% if (ENV_DEVELOPMENT) { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
