<% include header %>

<div id="title-wrapper">
  <h1 id="title">Audience Engagement Analyzer</h1>  
</div>
<div class="chart-wrapper">
  <div class="chart-area-wrapper">
    <canvas id="chart" width="400" height="100" ></canvas>
  </div>
</div>

<% include footer %>