<% include header %>

<div id="splash-page" class="text-center">
  <h1 class="title">Audience Engagement Analyzer</h1>
  <h3></h3>
  <i id="start-splash-page" class="fa fa-play-circle" aria-hidden="true"></i>
</div>

<div class="reveal" id="modal" data-reveal>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="recording-page" class="text-center">
  <div id="title-wrapper">
    <h1 class="title">Audience Engagement Analyzer</h1>
    <i id="pause" class="fa fa-pause-circle" aria-hidden="true"></i>
    <i id="start-recording-page" class="fa fa-play-circle" aria-hidden="true"></i>
    <i id="stop" class="fa fa-stop-circle-o" aria-hidden="true"></i>
    <br>
    <h5 id="first-label">Personal Tone</h5>
    <h5 id="second-label">Audience Engagement</h5>
  </div>
  <div class="chart-wrapper">
    <div class="chart-area-wrapper text-center">
      <canvas id="chart" width="400" height="100" ></canvas>
    </div>
  </div>
  <div id="text-wrapper">

  </div>
</div>
<% include footer %>
