html {
  background: linear-gradient(#9b59b6, #8e44ad);
  height: 100vh;
}

body {
  height: 100vh;
  overflow-y: hidden;
  font: 14px "Cabin", sans-serif;
  color: white;
}

#splash-page {
  display: block;
}

#recording-page {
  display: none;
}

.icon {
  font-size: 50px !important;
  cursor: pointer;
}

#title-wrapper {
  width: 100vw;
  top: 20px;
  text-align: center;
  position: fixed;
}

#title {
  font-size: 36px;
}

.chart-wrapper {
  position: relative;
}

#chart {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
}

.chart-area-wrapper {
  margin-top: 22vh;
  width: 1500px;
  overflow-x: scroll;
}
