body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart-wrapper {
    position: relative;
}

.chart-wrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.chart-area-wrapper {
    width: 1500px;
    overflow-x: scroll;
}