body {
  background: linear-gradient(#9b59b6, #8e44ad) !important;
  height: 100vh;
  padding: 0;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif !important;
  color: white;
}

i {
  color: white;
  font-size: 50px !important;
  cursor: pointer;
}

#recording-page {
  display: none;
}

#title-wrapper {
  width: 100vw;
  position: fixed;
}

.title {
  font-size: 36px;
}

.chart-wrapper {
  position: relative;
}

#chart {
  position: absolute;
}

.chart-area-wrapper {
  width: 95vw;
  overflow-x: scroll;
}
